# ── Airflow ───────────────────────────────────────────────────────────────────
# Generate a new fernet key with:  python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
AIRFLOW_WEBSERVER_SECRET_KEY=change-me-in-production-use-random-32-chars

# ── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_password
POSTGRES_DB=airflow

# ── MongoDB ───────────────────────────────────────────────────────────────────
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=rootpassword

# ── Spark ─────────────────────────────────────────────────────────────────────
SPARK_MASTER_URL=spark://spark-master:7077
